extends layout

block content
  #radios.row-fluid
  #arrows.row-fluid
  #opamps.row-fluid

  script(type= 'text/javascript', src= '/components/jquery/jquery.min.js')
  script(type= 'text/javascript', src= '/components/bootstrap/docs/assets/js/bootstrap.min.js')
  script(type= 'text/javascript', src= '/components/d3/d3.min.js')
  script(type= 'text/javascript', src= '/javascripts/visjp2.js')
  